.a{
    color: white;
    background-color: red;
}
.b{
    color: white;
    background-color: blue;
}
td{
    width: 40px;
}
.c{
    color: white;
    background-color: darkorange;
}
.d{
    color: red;
}
.e{
    color: blue;
}
sub{
    color: black;
}